body {
        background-image: url("https://images.idgesg.net/images/article/2018/08/5_password-best-practices_unique-passwords_authentication-100768646-large.jpg");
    color: #FFFFFF;
}

#form {
    margin: auto;
    margin-top: 5%;
    background-color: black;
    padding: 50px;
    width: 400px;
}

#form h2 {
    text-align: center;
}

#result {
    background-color: gray;
    text-align: center;
    font-size: 135%;
    letter-spacing: 1px;
    height: 29px;
    padding: 10px;
}

.option {
    font-size: 125%;
    margin-bottom: 5%;
}

.option input {
    float: right;
}

#generate {
    background-color: red;
    color: #FFFFFF;
    width: 100%;
    height: 35px;
    padding: 0;
    border: none;
} 